.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 60px;
}

.row {
  max-width: 448px;
  width: 90vw;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgba(138, 145, 158, 1);
  padding: 20px;
}

.userInput {
  width: 350px;
  height: 50px;
  border-radius: 10px;
}

.signinBTN {
  width: 100%;

}

.loginLink {
  cursor: pointer;
  color: #0d6efd;
}

.loginLink:hover {
  color: #6295e2;
}
