.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.row {
  max-width: 448px;
  width: 90vw;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgba(138, 145, 158, 1);
  padding: 20px;
}

.col {
  justify-content: center;
  align-items: center;
  display: flex;
}

.userinput {
  width: 350px;
  height: 50px;
  border-radius: 10px;
}

.siginbutton {
  width: 100%;
}
